<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Centered viewport --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
    <title>ADC Developers Tools Page</title>
</head>
<body>
    <header>
        <marquee behavior="" direction=""> This page should be commented on production</marquee>
        <h1>🛠️ ADC Developers Tools Page 🐣</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                 </li>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
        <section>

            <article>
                <p>
                    As a result of an incident that occurred during product API testing, 
                    I was forced to create a view to reset the products.
                </p>
                <ul>
                    <li>
                        <a href="{% url 'products-reset' %}">Emergency Products Reset </a> ⚠️ <mark><em>Clicking this URL will reset all products</em></mark>
                    </li>
                </ul>
            </article>
        </section>
        <br><br><br>
        <section>
            <h2>🔌 Endpoints</h2>
            <ul>

                <li>
                    <a href="#">Products</a>
                    <ul>
                        <li>
                            <a href="/api/products/products/">/api/products/products/"</a>
                        </li>
                        <li>
                            <a href="/api/products/categories/">/api/products/categories/"</a>
                        </li>
                        <li>
                            <a href="/api/products/discounts/">/api/products/discounts/"</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Sales</a>
                    <ul>
                        <li>
                            <a href="/api/sales/products/">/api/sales/products/</a>
                        </li>
                        <li>
                            <a href="/api/sales/categories/">/api/sales/categories/</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">core</a>
                    <ul>
                        <li>
                            <a href="/api/core/cities/">/api/core/cities/</a>
                        </li>
                        <li>
                            <a href="/api/core/users/">/api/core/users/</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
    </main>

</body>
</html>